* {
  font-family: "Mooli", sans-serif;
}
.bg-art {
  background: linear-gradient(rgba(255, 252, 252, 0.884), rgba(255, 252, 252)),
    url("../images/bg.png");
  background-size: 400px;
  background-position: center;
  background-attachment: fixed;
}
.active {
  background-color: red;
  color: white;
}
